.intro {
    display: flex;
    height: 100%;
    
    .left {
        flex: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        

        .wrapper {
            width: 80%;
            h1{
                span {
                    color: #15cdfc;
                }
            }
        }
    }
    
    .right {
        flex: 0.50;
        overflow: hidden;
        background-color: #15cdfc;

        align-items: center;
        justify-content: center;
        display: flex;
        .imgContainer{
            width:700px;
            height:700px;

            img {
                height: 100%;
            }
        }
    }

}

.education {
    background-color: #ccffcc;
    display:flex;
    padding: 20px;
        .left{
            flex:0.35;
            text-align: center;
            margin: auto;
        }

        .right{
            flex:0.65;

        }
    
}

.experience {
    background-color: #66ccff;



        display:flex;

        .left{
            flex:0.7;

        }

        .right{
            flex:0.3;
            text-align: center;
        }
    
}

