.intro {
    display: flex;
    height: 100vh;
    background-color: #eee;

    .left {
        flex: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        border: #15cdfc;
        box-shadow: 0.5vw #000;

        .wrapper {
            z-index: 2;
            width: 80%;
            padding: 10px 20px;
            margin: 10% 30% 10% 10%;
            border-radius: 25px;
            background-color: #fff;
            box-shadow: 0px 7px 7px 4px  grey;
            h1{
                span {
                    color: #fa80a5;
                }
            }
        }
    }
    
    .right {
        z-index: 2;
        flex: 0.50;
        overflow: hidden;
        background-image: linear-gradient(to top right, #fa80a5, #fae152);

        align-items: center;
        justify-content: center;
        display: flex;
        .imgContainer{
            width:400px;
            height:400px;

            img {
                height: 100%;
                border-radius: 50%;
                
            }
        }
    }

}

.education {
    transition: 0.5s;
    background-color: #35393c;
    display:flex;

        .left{
            z-index: 2;
            flex:1;
            padding: 10px 0px;
            background-image: linear-gradient(to bottom left, #fa80a5, #fae152);
            border-radius: 25px;
            margin: 3% 16%;
            
        }


        .section-title{
            text-align: center;
            
        }


    
}

.skills{
    background-color: #eee;
    display: flex;
    .right{
        z-index: 2;
        flex:1;
        // background-image: linear-gradient(to bottom right, #fae152, #fa80a5);
        border-radius: 25px;
        margin: 3% 9%;
        padding: 10px;
    
        .project-block{
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            padding: 20px;
        }

        .skills-section{
            text-align: center;
            border-radius: 25px;
            margin: 2% 10%;
            
        }

        .skills-section-title{
            background-color: #eee;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 7px 7px 4px  grey;
            
        }

        .section-title{
            text-align: center;
            background-color: #eee;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 7px 7px 4px  grey;
        }

        .skill-block{
            position: relative;
        }

        .skill-icon{
            background-image: linear-gradient(to bottom right, #fae152, #fa80a5);
            // background-color: #d7f9ff;
            border-radius: 28px;
            margin: 10px;
            width: 150px;
        }

        .skill-language{
            visibility: hidden;
            position:absolute;
            text-align: center;
            font-size: 25px;
            color: #000;
            opacity: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 28px;
            vertical-align: middle;
            line-height: 150px;
            background-image: linear-gradient(to top left, #f1d329, #f35181);
            transition: 0.5s;
            width: 150px;
            margin: 10px;
        }


        .skill-block:hover .skill-language{
            visibility: visible;
            opacity: 1;
        }
    }

}

.experience {
    z-index:1;
    background-color: #35393c;
    display:flex;

        .right{
            z-index: 2;
            flex:1;
            background-image: linear-gradient(to bottom left, #fa80a5, #fae152);
            border-radius: 25px;
            margin: 3% 16%;
            padding: 10px 0px;
            
        }

        // .left{
        //     flex:0.35;
        //     text-align: center;
        //     background-color: #15cdfc;
        //     border-radius: 50px;
        //     margin-left: 10%;
        // }

        .section-title{
            text-align: center;
        }
    
}

.projects {
    background-color: #eee;
    display: flex;

    .right{
        z-index: 2;
        flex:1;
        border-radius: 25px;
        margin: 3% 16%;
        padding: 10px;


        .title{
            text-align: center;

            
            .text{
                vertical-align: middle;
                z-index:2;
                background-color: #eee;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0px 7px 7px 4px  grey;
            }
        }
    
        .skills-section{
            text-align: center;
            border-radius: 25px;
            margin: 2% 10%;
            
        }
        


        .project-block{
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            padding: 20px;
        }
           

        .skill-block{
            position: relative;
        }

        .project-icon{
            background-image: linear-gradient(to bottom right, #fae152, #fa80a5);
            border-radius: 28px 28px 28px 28px;
            margin: 0px 10px;
            padding: 10px;
            width: 250px;

        }


        .project-name{
            visibility: hidden;
            position:absolute;
            text-align: center;
            color: #000;
            font-size: 20px;
            opacity: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            vertical-align: middle;
            background-image: linear-gradient(to top left, #f1d329, #f35181);
            transition: 0.5s;
            padding: 10px;
            width: 250px;
            margin: 0px 10px;
            border-radius: 28px;
            transition: opacity 0.5s, visibility 0.5s;
        }
        
        .skill-block:hover .project-name{
            visibility: visible;
            
            opacity: 1;
        }
    }



}

.contact{
    z-index: 2;
    background-color: #35393c;
    display: flex;

    .container{
        z-index: 2;
        flex:1;
        background-color: #fff;
        border-radius: 25px;
        margin: 3% 27%;
        padding: 10px;

        .contact-block{
            justify-content: center;
            display: flex;
            padding: 20px;

            .link-buttons{
                padding: 0px 40px;
            }
        }

        .section-title{
            text-align: center;
        }
    }


}

.link-buttons {
    padding-left: 10px;
    padding-right: 10px;
}

#tsparticles {
    z-index: 0;
    top: 0;
    left: 0;
}
